@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,900;1,400;1,500;1,900&display=swap');

.cardDiv {
    display: inline-block;
    text-align: center;
    width: 40%;
    height: auto;
    position: relative;
    margin-bottom: 4em;
    background-color: black;
    border-radius: 20px;
    margin: auto ;
    margin-bottom: 2em;
}

.cardDiv p {
    width: 90%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
    color: aliceblue;

    background-color: #25c24480;
    padding: 20px 30px;
    border-radius: 20px;

}

.cardDiv img{
    border-radius: inherit;
    opacity: .7;
}

@media (max-width:800px){
    .picDiv{
        flex-direction: column;
    }

    .cardDiv{
        width: 90%;
        height: auto;
    }
    
}

.picDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}